.chatbox{
	margin-top: 20px;
	background-color: #9C2626;
	height: 300px;
}
.chatbox h2{
	font-family:Impact, Charcoal, sans-serif;
	color: #ffffff;
}
.rounded-corner{
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}